.conteiner{
    width: 1160px;
    margin: 0 auto;
}

.header {
    background: url(../image/headerbg.png);
    background-size: cover;
    background-attachment: fixed;
} 

.logo-link{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 20px 0;
}
.logo-hexagon{
    padding:14px;
    background: #18CFAB;
    clip-path: polygon(49% 0, 100% 25%, 100% 75%, 48% 100%, 0 75%, 0 26%); 
    
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
   
    color: #FFFFFF;
}
.logo-text{

font-family: Montserrat;
font-size: 32px;



color: #FFFFFF;



    padding-left: 6px;
}
.logo-text-decoration{
    color: #18CFAB;
    font-weight: bold;
}



.nav{
    background:  rgba(0, 0, 0, 0.5);
}
.nav-conteiner {
    display: flex;
    justify-content: space-between;
}
.logo-link{
   
}
.nav-menu{
    display: flex;
    list-style: none;
    
}
.menu-item{
    padding: 45px 20px;
}
/* .menu-item:hover{
    border-bottom: 5px #18CFAB solid;
} */
.menu-item:hover{
    border-bottom: 3px #18CFAB solid;
    padding-bottom: 42px;
}
.menu-item:hover .menu-item-link{
    color: #18CFAB;
}
.menu-item-link:hover { 
    
}
.menu-item-link:hover .menu-item{
    
} 
.menu-item-link{
    
    color:white;
    text-decoration: none;
    text-transform:  uppercase;
   
font-family: Montserrat;

font-weight: bold;
font-size: 16px;
line-height: 24px;




}
.menu-item-search{
    padding: 45px 20px;
}

.test{
    height: 500px;
}


.section {
    background: #ccc;
  }
  
  .layer {
    background: #ddd;
  }
  
  .section:hover img {
    border: 2px solid #333;
  }
  
  .section:hover .layer {
    border: 2px solid #F90;
  }
 



.section-header{
    padding: 250px 0 240px 0;
    text-align: center;

}
.header-smalltitle{
    padding: 11px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-smalltitle-decoration{
    color: #18CFAB;
}
.header-title{
    padding:11px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-subtitle {
    padding: 11px;
    font-family: Montserrat;
    font-size: 34px;
    color: #D4D4D4;
}
.header-btns {
    margin-top: 129px;
}
.btn-explore{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 26px;
    padding: 16px;
    background:#18CFAB;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 -4px 0 white;
}
.btn-purchase{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 16px;
        background:#00CBF6;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 -4px 0 white;
}


/* HEADER END */

/* BENEFITS START */


.section-benefits{
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.benefits-item:nth-child(2n+1){
    background: #1C2A33;
    color: #18CFAB;
}
.benefits-item:nth-child(2n){
    background: #18CFAB;
    color: #FFFFFF;
}
.benefits-item:nth-child(2n) .benefits-text{
    margin-top:  58px;
}
.benefits-item:nth-child(2n+1) .benefits-text{
    margin-top:  43px;
}
.benefits-item{
    padding: 93px 0 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.benefits-text{ 
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
/* BENEFITS END */

/* OUR SERVICES */
.conteiner-oursevices{
    padding: 83px 0 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ourservices-title{
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 36px;
    color: #4E4E4E;
    position: relative;
}
.ourservices-title::after{
    content: "";
    position: absolute;
    top: 60px;
    left: 50px;
    width: 78px;
    height: 1px;
    background: #18CFAB;
    box-shadow: 10px 4px 0 #18CFAB;
    
}
.ourservices-nav{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.ourservices-item{
    text-align: center;
    text-decoration: none;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    width: 193px;
    padding: 16px 0;
    color: #717171;
    box-sizing: border-box;
}
.ourservices-item:hover{
  
    padding: 15px 0px;
    border: 2px solid #18CFAB;
}
.serviceinfo{
    margin-top: 28px;
}
.ourservices-item-active{
    background: #18CFAB;
    color: white;
    position: relative;
    box-sizing: border-box;
}
.ourservices-item-active:before {
    content:"";
    border-style: solid;
    border: 20px solid transparent; 
    border-top: 20px solid #18CFAB;
    position: absolute;
    left: 75px;
    bottom: -40px;
}
.ourservices-info-text{
    padding-left: 15px;
    padding-top: 5px;
}
.ourservices-info{
    display: flex;
    padding-top:23px;
}
.no-active{
    display: none;
}
/*OUR SERVICES END*/


/* PURCHASE START*/

.section-purchase{
    padding: 126px 0;
    text-align: center;
    background: url(../image/purchasebg1.png);
    
}

.section-purchase-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}
.section-purchase-subtitle{
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 16px;
    color: #D8D8D8;
}
.section-purchase-button{
    display: inline-block;
    margin-top: 83px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 11px;
    background:#18CFAB;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 -4px 0 white;
} 
/* PURCHASE END */

/* OUR AMAZING WORK START*/




/* OUR AMAZING WORK END*/


/* FOOTER START*/
.footer {
    padding: 48px 0;
    text-align: center;
    background: #22353F;


}
.footer-text{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}
.footer-text-decoration{
    color: #18CFAB;
}
/* FOOTER END*/