body{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../image/background.png);
    background-size: cover;
}
.conteiner {
    width: 1030px;
    margin: 0 auto;
}

/* HEADER START*/

.top_page{
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
}
.logo_title{
    padding: 5px;
    display: inline-block;
    font-family: Roboto;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.logo_text{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contacts_link{
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.contacts_link:hover{
    color: #F26522;
}
.logo{
    text-decoration: none;
}
.logo:hover .logo_text,.logo:hover .logo_title{
    color: #F26522;
}
.logo:hover .logo_img{
    content: url(../image/logo2.png);
}

/* HEADER END */

.section_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 26px;
    margin-bottom: 13px;
}
.content_item_link{
    margin-bottom: 37px;
    text-decoration: none;
}
.content_item_text{
    padding-top: 20px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.content_item_img{
    position: relative;
}
.content_item_link:hover .hover-block{
    display: flex;
}
.content_item_link:hover .content_item_text{
    color: #F26522;
}
.hover-block{
    display: none;
    padding: 7px 14px 12px 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background: #F26522;
    justify-content: space-between;
    align-items: flex-end;
}
.price{
    display: flex;
    flex-direction: column;
}
.hover-block-interval{
    font-family: Roboto;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.hover-block-cost{
    padding-top: 8px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.hover-block-information{
    font-family: Roboto;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;  
}
.hover-block-information::after{
    margin-left: 16px;
    content: url("../image/arrow.png");
} 
.footer{
    padding: 15px 0;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    line-height: 12px;  
    color: #FFFFFF;
}

/* CONTENT SECTION START */
