* {
   font-family: sans-serif;
}
.wrapper {
   width: 1280px;
   margin: 0 auto;
}

/* START HEADER */
.page-top-logo{
   margin-top: 61px;
   margin-bottom: 38px;
}
.page-top-logo-link{  
   font-size: 80px;
   line-height: 94px;
   text-decoration: none;
   color: #000000;
}
.page-top-logo-text-color {
   color: #4bcaff;
}
.top-nav-list{
   list-style: none;
   background: #35444F;
   color: white;
   margin-bottom: 50px;
   display: flex;
   justify-content: center;
}
.top-nav-item {
   border-left: 1px solid white;
   padding: 26px 33px 19px;
}
.top-nav-item-last{
  /*Какие еще могут быть варианты не добавляя крайнему новый клас? За это если можно не снимайте, на макете нет, просто вариант в слаке..)*/ 
  border-right: 1px solid white;
}
.top-nav-link{
   text-decoration: none;
   font-size: 24px;
   line-height: 28px;
   color: #FFFFFF;
}
/*.page-top-navigation-item:hover{
   background-color: #222f3a;
}*/


/* END HEADER */

/* START MAIN */

.main-content-wrapper{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin-bottom: 20px;
}
.left-navigation{
   border: 1px solid black;
}
.left-navigation-list{
   list-style: none;
   width: 344px;
}
.left-navigation-item{
   padding-left: 43px;
   padding-top: 26px;
   padding-bottom: 26px;
}
.left-navigation-link{
   text-decoration: none;
   font-size: 27px;
   line-height: 27px;
   color: #485863;
}
/*.left-navigation-link:hover{
   color: black;
}
.left-navigation-item:hover{
   background: #DBDBDB;
   padding-left: 60px;
}*/

.main-content{
   width: 885px;
}
.main-content-image-wrapper{
   border: 1px solid black;
   text-align: center;
   padding: 75px 0;
   box-sizing: border-box;
   margin-bottom: 37px;
}
.main-content-image{
   width: 320px;
}
/*.main-content-image:hover{
   transition: 3s;
   transform: scale(1.35);
}*/

.main-content-text{
   font-size: 18px;
   line-height: 24px;
   color: #2C2C2C;
   margin-bottom: 34px;
}

/*END MAIN */

/* STATRT FOOTER */
.page-bottom-wrapper{
   margin-bottom: 30px;
   padding: 30px;
   box-sizing: border-box;
   background: rgba(99, 105, 110, 0.48);
   display: flex;
   justify-content: space-between;
   align-items:center;
}
.page-bottom-list{
   flex-basis: 70%;
   display: flex;
   justify-content: space-between;
   list-style: none;
}
.page-bottom-navigation-link{
  text-decoration: none;
   font-size: 28px;
   line-height: 28px;
   color: #0C1927;
}
 /*.page-bottom-navigation-link:hover{
   color: #3181a6;
   padding-bottom: 8px;
   border-bottom: 3px solid #3181a6;
}*/

.page-bottom-copyright{
   font-size: 24px;
   line-height: 24px;
   color: #010101;
}

/*END FOOTER*/