body {
  background-image: url(../image/background.png);
  background-size: cover;
}
.header{
  padding: 18px 80px;
  background-color: 	rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-between;
}
.logo{
  text-decoration: none;
font-family: Ubuntu;
font-weight: bold;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
}
.logo:hover, .login:hover, .singup:hover{
  color: #236d47;
}
.icon:hover path{
  fill: #236d47; 
}
.nav{
  display: flex;
  align-items: center;
}
.nav-item{
 margin: 0 12px;
}
.header-left{
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;  
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.header-login{
  margin-left: 36px;
  position: relative;
}
.header-login::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 19px;
  left: -24px;
  top: -3px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
.login, .singup {
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 62px);
}
.form-window{
  background-color: white;
  padding: 35px 60px;
}
.form-top{
  display: flex;
  justify-content: space-between;
}
.form-title{
font-family: Ubuntu;
font-size: 20px;
line-height: 20px;
color: #434343;
position: relative;
}
.form-title::before{
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  right: 110px;
  background: #3CB878;
}
.form-link{
  text-decoration: none;
font-family: Ubuntu;
font-size: 14px;
line-height: 14px;
color: #3CB878;
}
.form-link:hover{
  color: #01813F;
  text-decoration: underline;
}
.form-loginwith{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.fb{
  border: 0;
  border-radius: 4px;
  padding: 15px 0;
  background: #305DB8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  position: relative;
}
.fb:hover{
  background: #022263;
}
.g{
  border: 0;
  border-radius: 4px;
  padding: 15px 0;
  background: #DF4A32;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  position: relative;
}
.g:hover{
  background: #AB1F09;
}
.form-loginwith-text{
font-family: Ubuntu;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
}

.fb::before{
  content: "";
  position: absolute;
  left: 50px;
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1
} 
.g::before{
  content: "";
  position: absolute;
  left: 60px;
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1
} 
.form-window-text{
margin-top: 31px;
font-family: Ubuntu;
font-size: 14px;
line-height: 14px;
text-align: center;
position: relative;
}
.form-window-text::before{
  position: absolute;
  right: 172px;
  top: 7px;
  content: "";
  background: #F2F2F2;
  width: 152px;
  height: 1px;
}
.form-window-text::after{
  position: absolute;
  left: 172px;
  top: 7px;
  content: "";
  background: #F2F2F2;
  width: 152px;
  height: 1px;
}
.singup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input{
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;
  color: #BEBEBE;
}
.form-input:focus{
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  outline-color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.checklable{
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.form-submit{
border: 0;
border-radius: 4px;
margin-top: 15px;
font-family: Ubuntu;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
text-align: center;
padding: 16px 100px;
background: #3CB878;
}
.form-submit:hover{
background: #01813F;
}