 body, html{
  height: 100%;
  font-family: sans-serif;
  color: gold;
  background-color: #000;
 }

.wrapper{
   position: absolute;
   width: 100%;
   height: 40em;
   bottom: 0;
   font-size: 70px;
   font-weight: bold;
   overflow: hidden;
   transform-origin: 50% 100%;
   transform: perspective(300px) rotateX(20deg);
 }

.title {
   text-align: center;
 }

.content {
     position: absolute;
     top: 90%;
     animation: scroll 30s linear 1s infinite;
   }
   
@keyframes scroll {
  0% { top: 90%; }
  100% { top: 0; }
  }
