.conteiner{
    width: 1170px;
    margin: 0 auto;
}

/* HEADER START*/
.header-top{
    display: flex;
    justify-content: space-between;
    background: #313131;
}
.logo{
    display: flex;
}
.logo-image{
    padding: 22px 27px;
}
.logo-text{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 22px 0;
}
.top-nav{
    display: flex;
    list-style:none;
}
.top-nav-item{
    padding: 28px 18px;
}
.top-nav-link{
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.top-nav-link:hover{
    color: #14B9D5;
}
.search{
    padding: 26px;
    box-sizing: border-box;
    background: #000000;
}
.latestnews{
    background: url(../image/header-background.png);
    padding: 164px 0 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.latestnews-title{
    margin-bottom: 44px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}
.latestnews-button{
    width: 170px;
    padding: 16px 0;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
}
.latestnews-button-subscribe{
    background: #89CA62;
}
.latestnews-button-articles{
    background: #14B9D5;
}
/* HEADER END */

/* MAIN START */

.section-mostpopular{
    background: #F2F2F2;
    padding-top: 49px;
    padding-bottom: 74px;
}
.mostpopular-title {
    text-align: center;
    margin-bottom: 36px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}
.mostpopular-blocks{
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mostpopular-block{
    margin: 16px 15px;
}
.mostpopular-block-text{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 20px 16px;
    text-align: center;
    background: #FFFFFF;
}

.section-clients {
    background: url(../image/clientbg.jpeg);
    padding-top: 108px;
    padding-bottom: 191px;
}
.section-clents-title{
    text-align: center;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 87px;
}
.section-clients-line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 0 auto;
    margin-bottom: 106px;
}
.section-clients-list{
    margin: 0 auto;
    width: 885px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-column-gap: 58px;
    justify-content: center;
}
.section-toprated{
    padding-top: 49px;
}
.topreted-title{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 52px;
}
.toprated-gallery{
    display: grid;
    grid-auto-flow: column;
}
.toprated-gallery-item{
    width: 100%;
}
.section-hotnews{
    padding-top: 48px;
    padding-bottom: 71px;
}
.hotnews-title{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 51px;
}
.hotnews-posts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    column-gap: 45px;
}
.hotnews-bigpost{
    display: grid;
    grid-template-columns: 483px 373px;
}

.hotnews-topleftpost{
    grid-column: 1/4;
}
.hotnews-mainleftpost{
    grid-column: 1/3;
}
.hotnews-mainrightpost{
    grid-column: 3/5;
}
.hotnews-bottomrightpost{
    grid-column: 2/5;
}
.hotnews-post{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: #F9F7F7;
    text-align: center;
}
.post-title{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.post-text{
    padding: 41px 28px 30px 0;
    display: grid;
    grid-auto-rows: auto;
    row-gap: 15px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
    background: #F9F7F7;
}
.hotnews-img{
    width: 100%;
}
.mainpost-text{
    padding: 12px 14px 0 0;
    display: grid;
    grid-auto-rows: auto;
    row-gap: 15px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
    background: #F9F7F7;
    
}
.smallpost-title{
    padding: 14px 27px;
}

/* START FOOTER */
.page-bottom{
    background: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.bottom{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.page-bottom-copyright{
    font-family: Open Sans;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
}
.bottom-logo-text{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    display: inline-block;
    vertical-align: top;
    color: white;
}


/* END FOOTER */

.localnav {
   display: flex;
   justify-content: center;
   background: #313131;
}
.localnav-item{
    padding: 10px;
}
.localnav-link{
    color: white;
    text-decoration: none;
}
.localnav-link:hover{
    color: #14B9D5;
}


#toTop {
    display: inline-block;
    background-color: #14B9D5;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
    z-index: 100;
  }
  #toTop::after {
    content: "\25B2";
    top: 300px;
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
  }
  #toTop:hover {
    cursor: pointer;
    background-color: #333;
  }
  #toTop:active {
    background-color: #555;
  }
  #toTop.show {
    opacity: 1;
    visibility: visible;
  }
  
 